<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="mini-url-title">
      <span>Generate mini url</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12">
    <div class="mini-url-container">
      <div class="mini-url-container-child">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label class="pad-top-10px" for="mini-url">Enter url to convert to mini url</label>
              <input type="url" class="pad-top-10px form-control" id="mini-url" placeholder="Enter url">
              <small class="pad-top-10px form-text text-muted">We'll never share your mini url with anyone else.</small>
            </div>

            <button type="submit" class="btn btn-green generate-url">Generate</button>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="mini-url-details">
              <!-- display url here -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    $(".generate-url").click(function(){
      $(".mini-url-details").html("");
      var mini_url = $("#mini-url").val();

      $.ajax({
        url: "/generate",
        type: "POST",
        dataType: "json",
        data: {mini_url: mini_url},
        success: function(data) {
          var html = "<span>Mini url for the above link is - ";
          html += "localhost:3000/url/" + data.mini_url + "</span>";
          $(".mini-url-details").append(html);
        },
        error: function(data) {
          console.log(data);
        }
      });

    });
  });
<% end %>
